.wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.title {
  color: #fff;
  font-size: 62.8px;
  padding: 38px 56px 48px;
  border: 4px solid #09d3ac;
  border-radius: 32px;

  &:hover {
    background-color: #09d3ac;
  }
}
